<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- mapbox css -->
  <link type="text/css" rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css">
  
  <!-- custom styles -->
  <link type="text/css" rel="stylesheet" href="styles/main.css">

  <!-- favicon -->
  <link rel="icon" href="images/favicon.ico">
  
  <title>GlobeTweet</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">GlobeTweet</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" data-toggle="modal" data-target="#about-modal">About</a></li>
          <li><a href="https://github.com/cameronjacoby/globetweet" target="_blank">GitHub</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- about modal -->
  <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="about-modal-label">About GlobeTweet</h4>
        </div>
        <div class="modal-body">
          <p><strong>GlobeTweet</strong> was created by <a href="https://www.linkedin.com/in/cameronjacoby" target="_blank">Cameron Jacoby</a> in August 2014 as her first project in General Assembly's Web Development Immersive Program. She built the app to provide insight into global trends through live tweet data.</p>
          <p><strong>Technologies:</strong> Node.js, ExpressJS, Socket.io, Twitter Streaming API, Mapbox</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>