    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">GlobeTweet</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>

          <% if (!isAuthenticated) { %>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
          <% } else { %>
            <li><a href="/"><%= user.username %></a></li>
            <li><a href="/logout">Log Out</a></li>
          <% } %>

        </ul>
      </div>
    </nav>