<!DOCTYPE html>
<html>
  <head>
    <title>GlobeTweet</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <h1>GlobeTweet - 404</h1>
    <p>The page you are looking for is not available.</p>
  </body>
</html>