<!DOCTYPE html>
<html>
  <head>
    <title>GlobeTweet | 404</title>
    
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/custom_style.css">
    <link rel="icon" href="images/tw_logo.png">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">GlobeTweet</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>

          <% if (!isAuthenticated) { %>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
          <% } else { %>
            <li><a href="/"><%= user.username %></a></li>
            <li><a href="/logout">Log Out</a></li>
          <% } %>

        </ul>
      </div>
    </nav>

    <div class="container" id="page-content">
      <div class="col-xs-6">
        <h1>GlobeTweet - 404</h1>
        <p>The page you are looking for is not available.</p>
      </div>
    </div>

    <div class="col-xs-6"></div>
  </body>
</html>




