<!DOCTYPE html>
<html>
  <head>
    <title>GlobeTweet | 404</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/custom_style.css">
  </head>
  <body>
    <div class="container">
      <h1>GlobeTweet - 404</h1>
      <p>The page you are looking for is not available.</p>
    </div>
  </body>
</html>