<!DOCTYPE html>
<html>
  <head>
    <title>GlobeTweet</title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <h1>GlobeTweet</h1>
    <script src="scripts/main.js"></script>
  </body>
</html>