<% include ../partials/header %>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Search for Tweets</h2>
        <hr>
        <form class="form-inline validate-fields" action="/search" method="post">
          <div class="form-group">
            <input type="text" name="keyword" class="form-control" placeholder="Keyword(s)" required autofocus>
          </div>
          <div class="form-group">
            <input type="submit" value="Search" class="btn btn-cta">
          </div>     
        </form>
        <hr>

        <div id="load-msg">
          <h4>Looking for tweets about <%= searchKey %>...</h4>
        </div>

        <div class="tmp-hidden" id="wait-msg">
          <p>We can't find any tweets related to <%= searchKey %> at the moment. Keep waiting or try another search term!</p>
        </div>

        <div class="tmp-hidden" id="count-message">
          <h4>Tweets about <%= searchKey %>: <span id="tweet-count">0</span></h4>
          <hr>
        </div>

        <div class="scrolling-tweets" id="live-tweets"></div>
      </div>

      <div class="col-md-8">
        <div class="mapbox" id="map"></div>
      </div>
    </div>
  </div>

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <!-- jquery validate -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
  <!-- socket.io -->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!-- mapbox js -->
  <script type="text/javascript" src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'></script>

  <!-- custom scripts -->
  <script type="text/javascript" src="scripts/main.js"></script>
  <script type="text/javascript" src="scripts/tweets.js"></script>

</body>
</html>