<!DOCTYPE html>
<html>

  <head>
    <meta charset=utf-8 />
    <title>GlobeTweet</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!-- link to scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- link to styles -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css" rel='stylesheet' />
    <link rel="stylesheet" href="styles/custom_style.css">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">GlobeTweet</a>
        </div>
        
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Edit Profile</a></li>
          </ul>
        
      </div>
    </nav>

    <div class="row" id="page-content">
      <div class="col-xs-4" id="left-scroll">

        <form role="form" method="post" action="/search">
          <div class="form-group">
            <label for="location"><h2>Search a Location</h2></label>
          </div>
          <div class="form-group">
            <input type="text" name="location" class="form-control" id="location" placeholder="Type any city, state, or country" autofocus>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          
        </form>

        <h3>Currently Viewing <div id="counter"></div> Tweets about <%= location %></h3>

        <div id="tweetd"></div>
      </div>

      <div class="col-xs-8">
        <div id="map"></div>
      </div>

    </div>

    <script>
      window.addEventListener('load', function() {
        geocoder.query('<%= location %>' || 'San Francisco', showMap);
      });
    </script>

    <!-- link to map script -->
    <script src="scripts/main.js"></script>
  </body>
</html>




