<% include ../partials/header %>

    <title>GlobeTweet | Log In</title>
    
  </head>

  <body>

    <% include ../partials/nav %>

    <div class="container page-content">
      <div class="col-xs-3 col-md-4"></div>
      <div class="col-xs-6 col-md-4">
        <h1>Log In</h1>

        <% if (typeof message !== 'undefined') { %>
          <p class="message">
            <%= message %>
          </p>
        <% } %>

        <% include ../partials/sign_log %>

          <div class="form-group">
            <input type="submit" class="btn btn-default sign-log-btn" value="Log In">
          </div>
        </form>

        <p><a href="/signup">Don't have an account yet? Sign up here.</a></p>
      </div>

      <div class="col-xs-3 col-md-4"></div>

    </div>
  </body>
</html>