<!DOCTYPE html>
<html>
  <head>
    <title>GlobeTweet | Sign Up</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/custom_style.css">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">GlobeTweet</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
        </ul> 
      </div>
    </nav>

    <div class="container" id="page-content">
      <h1>Sign Up</h1>
      
    </div>
  </body>
</html>