<% include ../partials/header %>

    <title>GlobeTweet | Sign Up</title>

  </head>

  <body>

    <% include ../partials/nav %>

    <div class="container page-content">
      <div class="col-xs-3 col-md-4"></div>
      <div class="col-xs-6 col-md-4">
        <h1>Sign Up</h1>

        <% if (typeof message !== 'undefined') { %>
          <p class="message">
            <%= message %>
          </p>
        <% } %>

        <% include ../partials/sign_log %>

          <div class="form-group">
            <label for="default-search"></label>
            <input type="text" name="defaultSearch" class="form-control" id="default-search" placeholder="Default Search" value="<%= defaultSearch %>">
            <p>GlobeTweet will automatically load tweets related to your default search.</p>
          </div>
          
          <div class="form-group">
            <input type="submit" class="btn btn-default sign-log-btn" value="Sign Up">
          </div>
        </form>

        <p><a href="/login">Already have an account? Log in here.</a></p>
      </div>

      <div class="col-xs-3 col-md-4"></div>

    </div>
  </body>
</html>