<!DOCTYPE html>
<html>
  <head>
    <title>GlobeTweet | Sign Up</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/custom_style.css">
    <link rel="icon" href="images/tw_logo.png">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">GlobeTweet</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
        </ul> 
      </div>
    </nav>

    <div class="container page-content">
      <div class="col-xs-3 col-md-4"></div>
      <div class="col-xs-6 col-md-4">
        <h1>Sign Up</h1>

        <% if (typeof message !== 'undefined') { %>
          <p class="message">
            <%= message %>
          </p>
        <% } %>

        <form role="form" class="sign-log" method="post" action="/signup">
          <div class="form-group">
            <label for="username"></label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="<%= username %>" autofocus>
          </div>

          <div class="form-group">
            <label for="password"></label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="default-search"></label>
            <input type="text" name="defaultSearch" class="form-control" id="default-search" placeholder="Default Search" value="<%= defaultSearch %>">
            <p>GlobeTweet will automatically load tweets related to your default search.</p>
          </div>
          
          <div class="form-group">
            <input type="submit" class="btn btn-default sign-log-btn" value="Sign Up">
          </div>
        </form>

        <p><a href="/login">Already have an account? Log in here.</a></p>
      </div>

      <div class="col-xs-3 col-md-4"></div>

    </div>
  </body>
</html>




