body {
  margin: 0;
  padding: 0;
}

#content {
  width: 27%;
  height: 700px;
  overflow: scroll;
  margin-left: 20px;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

#location {
  width: 200px;
}

#counter {
  display: inline;
}

#tweetd img {
  margin-right: 10px;
  border-radius: 50px;
}

#tweetd div {
  margin-bottom: 20px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 70%;
}




