body {
  margin: 0;
  padding: 0;
}

h1, p {
  margin-left: 20px;
}

form, #loc {
  margin-top: 20px;
  margin-left: 20px;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
}

h2 {
  margin-left: 20px;
  color: blue;
}

#tweetd {
  margin-left: 20px;
  width: 15%;
  color: blue;
}